// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';




//home page 
.right_in_homepage_cardheader {
    
    right:5px;
}

.movie_pic {
    border: 1px solid #ddd;
    border-radius:10px;
    padding: 5px;
}
.movie_div {
    display: inline;
}
.movie_des {
    display: inline;
    padding: 5px;

}
.movie_zone {
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;


}
.home_page_filter {
    display: inline;
}
// movie_show 
.image-container{
    max-width: 60%;

    margin: 0 auto;
  }
.movie_show_image {
    float: left;
    width: 200px;
    height:300px;
    border-radius:15px;
}
.clearn {
    clear: both;
}
//shoppingcar page 

.shopping_car_img {
    width: 100px; 
    height: 200px;
    object-fit: fill;

}
.shoppingitem_for_right {
    float:right;
}

.shoppingitem_total_fee {
    position: relative;
    right:0;
}

.shoppingitem_table_count {
    text-align: center;

}
//order CSS zone
.order_info {
    color:white;

}



// table CSS control
.table_row {
    width: 20%;
    vertical-align: middle;
    text-align: center;
    color:white;

}
th {
    width: 20%;
    vertical-align: middle;
    text-align: center;
    color:white;


}


//footer
.footer_backgroud_color {
    background-color:#404040;
}

