// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.dropdown {
    display: inline;
}
.movie_area{
    // display: flex;
    // flex-wrap: wrap;

}
.table_row {
    width: 20%;
    vertical-align: middle;
    text-align: center;
}
th {
    width: 20%;
    vertical-align: middle;
    text-align: center;

}

.shopping_car_img {
    width: 100px; 
    height: 200px;
    object-fit: fill;

}
.shoppingitem_for_right {
    float:right;
}

.shoppingitem_total_fee {
    position: relative;
    right:0;
}

.shoppingitem_table_count {
    text-align: center;

}
.right_in_homepage_cardheader {
    
    right:5px;
}
.single_movie_card {
    display:inline;
    width: 100px;
}

.movie_pic {
    display: inline;
}
.movie_div {
    display: inline;
}
.movie_des {
    display: inline;

}
.movie_zone {
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;


}
