// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.dropdown {
    display: inline;
}
.movie_area{
    display: flex;

}
.table_row {
    width: 20%;
    vertical-align: middle;
    text-align: center;
}
th {
    width: 20%;
    vertical-align: middle;
    text-align: center;

}

.shopping_car_img {
    width: 100px; 

}
.shoppingitem_for_right {
    float:right;
}

.shoppingitem_total_fee {
    position: relative;;
    right:0;
}

